.auth-layout.auth-layout-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  padding: 40px 24px;
}

.auth-layout-centered .form-panel {
  width: 100%;
  max-width: 390px;
  padding: 0;
}

@media (max-width: 650px) {
  .auth-layout.auth-layout-centered {
    padding: 32px 24px;
  }
}
